.baner {
 width: 100%;

}
.titulo-pricipal {
 text-align: center;
 font-size: 2em;
 margin: 0 0 1em;
 clear: left;
}


.principal p{
  margin: 0 0 1em;
}


.principal strong {
font-weight: bold;

}

.principal em {
  font-size: italic;
}

.utenssilios {
 width: 120px;
 float: left;
 margin: 0 20px 20px 0;
}